
body {
    /*background: #FEFEFD;*/
    background: #FEFEFD;
    padding: 0.5rem;
  
  }

    /*
  Custom css
  */

  .tableCenter{
    margin: auto;
  }

  .initialImages{
    width: 50%;
  } 
  
.headerPage{
  margin-top: auto;
  margin-bottom: auto;
  font-size: 2rem;
}

.topPage{
  display: grid;
  gap: 11rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem,2fr));
}

.navbarTop{
  position: absolute;
  background-color: #034275;
  padding: 5px;
  
  left: 12px;
  list-style:none;
  
  width: 98%;
  display: flex;
  justify-content: center;
  margin:0px;
}

  header {
    background: #034275;
    color: #FFF;
  }
  /* manejo de las características de la etiqueta table*/
  
  section {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  th, td {
    padding: 15px;
    border-bottom: 1px solid black;
  }
  
  th:hover {
    background-color: #F0C61A;
    color: #ffffff;
    text-decoration: none;

  }
  a, .nombre_usuario{
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: none;
  }
  li{
    padding: 5px 10px;
  }

  .contents{
    padding: 5.5rem 0;
  }

  .opciones{
    color: #000;
    text-decoration: none;
  }
  
  input[type=text], input[type=number] {
    width: 25%;
    padding: 5px 5px;
    box-sizing: border-box;
  }
  
  input[type=text|number]:focus {
    border: 3px solid blue;
  }
  
  label {
    padding: 12px 10px;
  }
  /* manejo de las características de las clases*/
  
  .colorceldsprintfa{
    background: #9999FF;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
  }
  
  .miformulario{
    width: 40%;
  }
  

  
  /*Menu */
  /*
   Tomado de http://codigoprogramacion.com/cursos/html/como-hacer-un-menu-horizontal-con-html5-y-css3.html
   */

  
  footer{
    display: grid;
    gap: 11rem;
    grid-template-columns: repeat(auto-fill, minmax(30rem,2fr));
    background: #034275;
    color: #ffffff;
    align-content: center;
    justify-content: center;
  }
 
.sectionOne{
  align-content: center;
  justify-content: center;

}


