{% extends "master.html" %}

{% block title %}
  Listado de Propietarios
{% endblock %}

{% block content %}

<table id="tabla_datos">

  <thead>
    <tr>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Cedula</th>
      <th>Correo</th>
    </tr>
  </thead>

  {% for e in personas %}
  <tr>
    <td> {{e.nombres}}</td>
    <td> {{e.apellidos}}</td>
    <td> {{e.cedula}}</td>
    <td> {{e.correo}}</td>
  </tr>
  {% endfor %}
</table>

<script type="text/javascript">
  $(document).ready( function () {
    $('#tabla_datos').DataTable();
  });
</script>
{% endblock %}
