<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Departamentos</title>
  </head>
  <body>
    <h5>Listado de departametos</h5>

    {% for d in datos %}

    <ol>
      <li><b>Propietario: </b>{{e['prop_dept']}}</li>
      <li><b>Direccion: </b>{{e['direccion_dept']}}</li>
      <li><b>Valor: </b>{{e['valor_dept']}}</li>
      <li><b>Cuartos: </b>{{e['cuartos_dept]}}</li>
      <li><b>Mensualidad: </b>{{d['mensualidad']}}</li>
      <li><b>Barrio: </b>{{d['barrio']}}</li>
    </ol>
    <hr>
    {% endfor%}
  </body>
</html>
