<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

    <title>
      {% block title %}
      {% endblock %}
    </title>
  </head>
  <body>
    <!-- paso 5-->
    {% load socialaccount %}
    {% load account %}
  <header>
    <section class="topPage">
      <img src="{% static 'images/utpl_logo.png' %}" alt="My image"> 
      <h1 class = "headerPage">Proyecto Final Plataformas Web </h1>
    </section>
    

    <div class="">
        {% if messages %}
          <div class="messages">
            {% for message in messages %}
            <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    <nav class="top_menu">
      <ul class="navbarTop">

        {% if user.is_authenticated %}
          <li> <span class="nombre_usuario"> Bienvenido: {{user.username}} </span></li>
        {% endif %}
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'ver_casas' %}">Lista de Casas</a></li>
        <li><a href="{% url 'ver_departamentos' %}">Lista de Departamentos</a></li>
        <li><a href="{% url 'crear_casa' %}">agregar Casa</a></li>
        <li><a href="{% url 'crear_departamento' %}">agregar Departamento</a></li>
        <li><a href="{% url 'crear_persona' %}">agregar Persona</a></li>
        <li><a href="{% url 'crear_barrio' %}">agregar Barrio</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'logout_view' %}">salir</a></li>
        {% else %}
          <li>[<a href="{% url 'login' %}">ingresar</a>]</li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <section class="contents">
      {% block content %}
      {% endblock %}
  </section>

    <footer>
      <h3 class ="sectionOne">Loja-Ecuador</h3>
      <h3> Realizado por: Edgar Guamo M,<br>
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
        Brandon Vega S.</h3>
      <h3> Fecha de desarrollo: 19/07/2021 </h3>
    </footer>
  </body>
</html>
  