{% extends "master.html" %}

{% block title %}
  Listado de Departamentos
{% endblock %}

{% block content %}
<h3>Número de Deparatamentos {{ numero_departamentos }}</h3>

<table id="tabla_datos">

  <thead>
    <tr>
      <th>Propietario</th>
      <th>Dirección</th>
      <th>Valor</th>
      <th>Número de cuartos</th>
      <th>Mensualidad</th>
      <th>Barrio</th>
      <th>Opciones</th>
    </tr>
  </thead>

  {% for e in departamentos %}
  <tr>
    <td> {{e.prop_dept}}</td>
    <td> {{e.direccion_dept}}</td>
    <td> {{e.valor_dept}}</td>
    <td> {{e.cuartos_dept}}</td>
    <td> {{e.mensualidad}}</td>
    <td> {{e.barrio}}</td>
    <td> <a href="{% url 'editar_departamento' e.id %}" class="opciones">editar</a> <br>
      <a href="{% url 'eliminar_departamento' e.id %}" class="opciones"
      onclick="return confirm('¿Está seguro de la eliminación?')" >
      eliminar</a>
    </td>

  </tr>
  {% endfor %}
</table>

<script type="text/javascript">
  $(document).ready( function () {
    $('#tabla_datos').DataTable();
  });
</script>
{% endblock %}
